**/config.json
**/config.template.json
**/config.json.*
**/.env
**/.tg_workdir*/

**/config-example.json
**/.workdir*/

**/config*.json
**/config*.json.*

**/.workdir*/

**/.git
**/.gitignore
**/__pycache__
**/.idea
**/.vscode
**/.venv
**/.DS_Store
**/.github
